{% extends 'ProjectLineOfWorkBundle::layout.html.twig' %}

{% block main %}
    <div class="col-lg-8 col-lg-offset-2 body-header">
            <h2>Hi User</h2>
    </div>
                
{% endblock %}